footer {
  width: 100%;
  background-color: black;
  color: white;
}

.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding: 10px 200px;
}

.footer .footer-box {
  line-height: 30px;
}
footer .copyright {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 40px;
}

@media (width < 1024px) {
  .footer {
    padding: 20px 40px;
    padding-left: 80px;
    font-size: 15px;
  }
}

@media (width < 640px) {
  .footer {
    padding: 20px 30px;
    font-size: 12px;
    font-weight: 500;
  }
}
