footer {
  width: 100%;
  background-color: black;
  color: white;
}

.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding: 10px 200px;
}

.footer .footer-box {
  line-height: 30px;
}
footer .copyright {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 40px;
}
